<section class="rounded-top bg-brandRed relative pb-48 md:pb-64">
	<div class="container pb-16 text-white flex flex-col gap-4">
		<span class="supertitle !text-white">Get started</span>
		<h4 class="is-h2">How to HIITFIT</h4>
		<div class="grid md:grid-cols-2 lg:grid-cols-3 gap-3 md:gap-y-6 mt-3">
			<div class="bg-white rounded-[40px] p-8 flex flex-col aspect-video h-full text-black">
				<span class="font-secondary text-8xl font-bold text-brandRed">1</span>
				<p class="mt-auto text-xl">Find some space to workout. No equipment needed</p>
			</div>

			<div class="bg-white rounded-[40px] p-8 flex flex-col aspect-video h-full text-black">
				<span class="font-secondary text-8xl font-bold text-brandRed">2</span>
				<p class="mt-auto text-xl">Start with the warm up and then HIIT your workout</p>
			</div>

			<div class="bg-white rounded-[40px] p-8 flex flex-col aspect-video h-full text-black">
				<span class="font-secondary text-8xl font-bold text-brandRed">3</span>
				<p class="mt-auto text-xl">40 seconds of work &amp; 20 seconds of rest</p>
			</div>

			<div class="bg-white rounded-[40px] p-8 flex flex-col aspect-video h-full text-black">
				<span class="font-secondary text-8xl font-bold text-brandRed">4</span>
				<p class="mt-auto text-xl">Rotate to the next exercise during rest period</p>
			</div>

			<div class="bg-white rounded-[40px] p-8 flex flex-col aspect-video h-full text-black">
				<span class="font-secondary text-8xl font-bold text-brandRed">5</span>
				<p class="mt-auto text-xl">80 seconds of rest after completing the 10 exercises</p>
			</div>

			<div class="bg-white rounded-[40px] p-8 flex flex-col aspect-video h-full text-black">
				<span class="font-secondary text-8xl font-bold text-brandRed">6</span>
				<p class="mt-auto text-xl">Rotate through the 10 exercises 3 times to complete the workout</p>
			</div>
		</div>
	</div>
</section>
