<div class="internal-banner relative flex max-md:flex-col max-md:gap-10 bg-white bg-opacity-60">
	<div class="banner-inner overflow-hidden w-full relative md:py-16 2xl:py-32 max-md:pb-6 max-lg:!pt-40 lg:mt-36 flex max-lg:flex-col gap-10 lg:items-center lg:min-h-[250px]">
		<div class="banner-image-wrapper container lg:w-[calc(100%_-_40px)] top-0 left-0 absolute w-full h-full overflow-hidden rounded-br-[100px] lg:rounded-r-full">
			{% if fields.internal_banner.background %}
				{% include 'partial/image.twig' with {
					image: get_image(fields.internal_banner.background).src,
					alt: fields.internal_banner.background.alt,
					class: 'absolute top-0 left-0 w-full h-full object-center object-cover pointer-events-none'
				} %}
			{% endif %}
		</div>
		<div class="container relative z-[15] text-white">
			<h1 class="relative z-20 text-[2.25rem] sm:text-[2.75rem] lg:text-[3.75rem] 2xl:text-7xl 2xl:w-1/2">
				{% if title %}
					{{ title }}
				{% elseif fields.internal_banner.custom_heading %}
					{{ fields.internal_banner.custom_heading }}
				{% else %}
					{{ post.title }}
				{% endif %}
			</h1>
		</div>
	</div>
</div>
