<div class="lg:container">
	<div data-scrolling-icons-container class="relative h-44 lg:h-48 flex items-center lg:rounded-full overflow-hidden lg:-translate-y-1/2 py-6 2xl:py-12 bg-white container">
		<div class="absolute flex justify-around flex-shrink-0 min-w-full translate-x-full animate-infiniteScroll">
			{% for item in options.icons_strip %}
				<div class="flex flex-col items-center text-center w-40 lg:w-48">
					<div class="w-20 h-16 md:h-20 mx-auto flex items-center justify-center pointer-events-none"><img src="{{ get_image(item.icon).src }}" class="w-full h-full object-contain object-center" alt="Icon"></div>
					<span class="font-bold text-sm leading-tight px-6 mt-3">{{ item.text }}</span>
				</div>
			{% endfor %}
		</div>
		<div class="absolute flex justify-around flex-shrink-0 min-w-full translate-x-full animate-infiniteScroll2">
			{% for item in options.icons_strip %}
				<div class="flex flex-col items-center text-center w-40 lg:w-48">
					<div class="w-20 h-16 md:h-20 mx-auto flex items-center justify-center pointer-events-none"><img src="{{ get_image(item.icon).src }}" class="w-full h-full object-contain object-center" alt="Icon"></div>
					<span class="font-bold text-sm leading-tight px-6 mt-3">{{ item.text }}</span>
				</div>
			{% endfor %}
		</div>
	</div>
</div>
