{% extends "base.twig" %}

{% block content %}
	<div class="bg-pureWhite py-8 lg:py-16">
		<form class="container max-w-md flex flex-col gap-4" method="POST">
			<div class="input-wrapper">
				<p>Please enter the password to continue:</p>

				<label class="sr-only" for="password-{{ post.ID }}">Password:</label>
				<input class="{{ error ? '!border-brandRed' }}" name="password" id="password-{{ post.ID }}" type="password" placeholder="Password" required/>

				{% if error %}
					<p class="text-xs text-brandRed italic">{{ error }}</p>
				{% endif %}
			</div>

			<button class="button" type="submit" name="Submit">Submit</button>
		</form>
	</div>
{% endblock %}
